<!DOCTYPE html>
#import brdflix
<html>
<head>
<title>Admin - BRDFlix</title>

#include $os.path.join($brdflix.TMPL_DIR, "global_css.tmpl")

#include $os.path.join($brdflix.TMPL_DIR, "global_js.tmpl")

<script type="text/javascript">

</script>

</head>
<body>
#include $os.path.join($brdflix.TMPL_DIR, "header.tmpl")

<br />
<br />

#include $os.path.join($brdflix.TMPL_DIR, "recent_plays.tmpl")

#include $os.path.join($brdflix.TMPL_DIR, "footer.tmpl")
</body>
</html>