#import brdflix
<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.0.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.pnotify.min.js"></script>
<!-- <script type="text/javascript" src="/js/helpers.js"></script> -->
<script type="text/javascript">
#include $os.path.join($brdflix.JS_DIR, 'helpers.js')
</script>
