<!DOCTYPE html>
<html>
<head>
<title>BRDFlix</title>

<script type="text/javascript">
function loadHomepage(){
    window.location = '/';
}
setTimeout(loadHomepage, 1500);
</script>

</head>
<body>
<h1>System Performing Restart</h1>
<a href="/">Load Home Page</a>
</body>
</html>
