<div id="recentplays">
<h1>Recent Plays</h1>

{% for p in recent_plays %}
    {% set mins = ((p.duration / 60.0)|round)|int %}
    {% set play_mins = (((p.total_time)|float / 60.0)|round(2))|float %}
    {% set mbytes = ((p.total_bytes)|float / 1024.0 / 1024.0)|round(2) %}
    <div id="np_0" class="np-item">
        <h3 style="display:inline;"><em><a href="{{ p.request_url }}">{{ p.fname }}</a></em></h3><br/>
        <span>{{ p.user_agent }}</span><br/>
        <strong>{{ p.username }} [{{ p.ip_address }}] [{{ p.port }}]</strong><br/>
        <span>{{ p.start_time }} ({{ mins }} minutes long)</span><br/>
        <span>{{ play_mins }} Minutes Transferring ({{ mbytes }} Megabytes) ({{ p.avg_mbps }} Average Mbps)</span><br/>
    </div> <br/>
{% endfor %}

</div>
